<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>操作模式</string>
		<key>value</key>
		<integer>0</integer>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>1</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>10001</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>禁止模式</string>
				<key>value</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>滚动模式</string>
				<key>value</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>绘制模式</string>
				<key>value</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>放大模式</string>
				<key>value</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>涂鸦工具</string>
		<key>value</key>
		<integer>0</integer>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>10003</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>画笔</string>
				<key>value</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>选择</string>
				<key>value</key>
				<integer>32</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>点击</string>
				<key>value</key>
				<integer>256</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>拖拽</string>
				<key>value</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>激光笔</string>
				<key>value</key>
				<integer>128</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>文本</string>
				<key>value</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>矩形</string>
				<key>value</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>椭圆</string>
				<key>value</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>直线</string>
				<key>value</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>橡皮擦</string>
				<key>value</key>
				<integer>64</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>自定义图形</string>
				<key>value</key>
				<integer>512</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>颜色</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string>0x000000</string>
		<key>eventNumber</key>
		<real>10004</real>
		<key>options</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>字号大小</string>
		<key>value</key>
		<integer>0</integer>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>10005</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>18</string>
				<key>value</key>
				<integer>18</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>24</string>
				<key>value</key>
				<integer>24</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>36</string>
				<key>value</key>
				<integer>36</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>48</string>
				<key>value</key>
				<integer>48</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>画笔粗细</string>
		<key>value</key>
		<integer>0</integer>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>10006</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>48</string>
				<key>value</key>
				<integer>48</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>4</string>
				<key>value</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>6</string>
				<key>value</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>8</string>
				<key>value</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>10</string>
				<key>value</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>字体选择</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>1</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>10002</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>粗体</string>
				<key>value</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>斜体</string>
				<key>value</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>上传URL图片</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>10012</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>图片URL</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>图片坐标</string>
				<key>value</key>
				<string>0.0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>上传本地图片</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>10013</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>图片坐标</string>
				<key>value</key>
				<string>0.0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>自定义图形</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string>图形URL</string>
		<key>eventNumber</key>
		<real>10010</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>图片 URL</string>
				<key>value</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>选择图形</string>
		<key>value</key>
		<integer>-1</integer>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>placeholder</key>
		<string>选择自定义图形</string>
		<key>eventNumber</key>
		<real>10011</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>jpg 图片</string>
				<key>value</key>
				<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1608282741026&amp;di=2c5e58806e37aa46dc8e978b0e4aa93c&amp;imgtype=0&amp;src=http%3A%2F%2Fpic16.nipic.com%2F20110928%2F5200151_002314030000_2.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>化学仪器</string>
				<key>value</key>
				<string>https://storage.zego.im/goclass/chemical_instrument.svg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>坐标轴</string>
				<key>value</key>
				<string>https://storage.zego.im/goclass/axis.svg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>菱形</string>
				<key>value</key>
				<string>https://storage.zego.im/goclass/diamond.svg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>五角星</string>
				<key>value</key>
				<string>https://storage.zego.im/goclass/star.svg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>清除工具</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>4</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>10007</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>清空所有</string>
			</dict>
			<dict>
				<key>title</key>
				<string>撤销</string>
			</dict>
			<dict>
				<key>title</key>
				<string>恢复</string>
			</dict>
			<dict>
				<key>title</key>
				<string>清空当前</string>
			</dict>
			<dict>
				<key>title</key>
				<string>删除选中</string>
			</dict>
			<dict>
				<key>title</key>
				<string>减小frame</string>
			</dict>
			<dict>
				<key>title</key>
				<string>增加frame</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>传入文本</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>10008</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>文本</string>
				<key>value</key>
				<string></string>
				<key>defaultValue</key>
				<string>仅在文本模式下可用</string>
			</dict>
			<dict>
				<key>title</key>
				<string>坐标</string>
				<key>value</key>
				<string></string>
				<key>defaultValue</key>
				<string>x.y</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>键盘默认文本</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>10009</real>
		<key>options</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>上传日志</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>eventNumber</key>
		<integer>10014</integer>
		<key>options</key>
		<array/>
	</dict>
</array>
</plist>
