<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>下一步自动翻页</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>1</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>30006</real>
		<key>options</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>文件上传</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>4</integer>
		<key>placeholder</key>
		<string></string>
		<key>eventNumber</key>
		<real>30001</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>静态文件</string>
			</dict>
			<dict>
				<key>title</key>
				<string>动态文件</string>
			</dict>
			<dict>
				<key>title</key>
				<string>取消上传</string>
			</dict>
			<dict>
				<key>title</key>
				<string>清除缓存</string>
			</dict>
			<dict>
				<key>title</key>
				<string>上传h5课件</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>缓存文件</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string>文件id</string>
		<key>eventNumber</key>
		<real>30003</real>
		<key>options</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>查询文件缓存</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string>文件id</string>
		<key>eventNumber</key>
		<real>30004</real>
		<key>options</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>打开文件</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string>文件id</string>
		<key>eventNumber</key>
		<real>30007</real>
		<key>options</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>缩略图</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>4</integer>
		<key>placeholder</key>
		<string>文件id</string>
		<key>eventNumber</key>
		<real>30005</real>
		<key>options</key>
		<array>
			<dict>
				<key>title</key>
				<string>获取</string>
			</dict>
			<dict>
				<key>title</key>
				<string>展示</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>自定义H5宽高页数</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string>课件宽高 w.h.p</string>
		<key>eventNumber</key>
		<real>30008</real>
		<key>options</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>自定义H5缩略图</string>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string>缩略图路径多个以;分割</string>
		<key>eventNumber</key>
		<real>30009</real>
		<key>options</key>
		<array/>
	</dict>
</array>
</plist>
