@font-face {
  font-family: 'ZgFont';
  src: url('./lib/SourceHanSansSC-Regular.otf');
  /*Firefox, Chrome, Safari, Opera*/
}

.bg-f2 {
  background-color: #f8f9fa;
}

#app {
  font-family: ZgFont, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  user-select: none;
}

.top-bar {
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
}

.main-container {
  height: 100vh;
  border-right: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.panel-container {
  position: relative;
  z-index: 1;
}

.panel {
  display: none;
}

#nav-tabContent .tab-pane form {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.whiteboard-box {
  flex: 1;
  margin: 16px 0;
}

.whiteboard-area {
  position: relative;
  margin: 0 auto;
  width: 640px;
  height: 360px;
  border: 1px dashed #ddd;
  background-color: aliceblue;
  transition: width 0.1s, height 0.1s;
}

.thumbnail {
  display: none;
  z-index: 10;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  padding: 36px 10px;
  background-color: #f8f9fa;
}

.close-thumbnail {
  cursor: pointer;
}

#thumbnail-list img {
  width: 100%;
  margin-bottom: 5px;
}

#excel-select {
  display: none;
}

.drawBox {
  border: 1px dashed #ccc;
  margin: 15px 0;
}
.row.drawBox {
  margin: 15px 0 !important;
}
#flipPage {
  max-width: 88px;
}
.error-toast {
  z-index: 5;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
.toast {
  background-color: #444;
}
.toast-body {
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
}
.menu-btn {
  display: none;
}

.operation-container {
  display: block;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.tab-content-box {
  height: 100%;
  padding-bottom: 32px;
  overflow-y: scroll;
}

@media screen and (orientation: landscape) {
  body {
    font-size: 12px;
  }
}

@media screen and (orientation: portrait) and (max-width: 720px) {
  body {
    font-size: 12px;
  }
}
@media screen and (orientation: portrait) and (min-width: 575px) {
  .operation-container {
    display: block;
  }
}
@media screen and (orientation: portrait) and (max-width: 575px) {
  .menu-btn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
  }
  .operation-container {
    display: none;
    position: fixed;
    top: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #cccccc;
  }
  .operation-container-nav {
    width: 80%;
  }
}

.room-id {
  border: none;
}

.whiteboard-page {
  width: 60px;
  text-align: center;
  line-height: 1.25;
  padding-left: 0;
  padding-right: 0;
}
.nav-tabs .nav-link {
  padding: 0.5rem;
  border: none;
}
