a {
  cursor: pointer;
  transition: all 200ms linear;
}

a:hover {
  text-decoration: none;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

h4 {
  font-weight: 600;
}

h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.full-height {
  min-height: 100vh;
}

.login_container [type='checkbox']:checked,
.login_container [type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}

.login_container .checkbox:checked + label,
.login_container .checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #cccccc;
}

.login_container .checkbox:checked + label:before,
.login_container .checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  /* color: #ffeba7; */
  background-color: #0044ff;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.login_container .checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.login_container .card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}

.login_container .card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.login_container .card-front,
.login_container .card-back {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.login_container .card-back {
  transform: rotateY(180deg);
}

.login_container .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.login_container .center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.login_container .form-group {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.login_container .form-group label {
  width: 100px;
  line-height: 48px;
}

.login_container .card-back .form-group label {
  width: 150px;
  line-height: 48px;
  text-align: right;
  margin-right: 10px;
}

.login_container .form-style {
  padding: 13px 20px;
  /* padding-left: 55px; */
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: 0;
  /* color: #c4c3ca; */
  background-color: #fff;
  border: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 4px 0 rgba(21, 21, 21, 0.2);
}

.login_container .form-style:focus,
.login_container .form-style:active {
  border: 0;
  outline: 0;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.login_container .input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  /* color: #ffeba7; */
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.login_container .form-group input:-ms-input-placeholder {
  /* color: #c4c3ca; */
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.login_container .form-group input::-moz-placeholder {
  /* color: #c4c3ca; */
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.login_container .form-group input:-moz-placeholder {
  /* color: #c4c3ca; */
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.login_container .form-group input::-webkit-input-placeholder {
  /* color: #c4c3ca; */
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.login_container .form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.login_container .form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.login_container .form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.login_container .form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
}

.show-sdk-btn {
  position: fixed;
  right: 0;
  top: 0;
}

.sdk-setting-box {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 39, 112, 0.2);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  left: 0;
  top: 0;
}

.setting-input-box {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 240px;
  margin-top: -90px;
  margin-left: -150px;
  padding: 20px;
  z-index: 999;
  background-color: #fff;
  border-radius: 6px;
}

.setting-input-box .btn {
  margin-left: 85px;
}

.demo-config-box {
  border: 1px dashed #e6a23c;
}
